body {
    background: url('../assets/bg.jpg') center center #552710;
    // filter: brightness(70%);
}

#tracks {
    width: 600px;
    margin: 150px auto 50px;
    padding: 10px 25px;

    background-color: #5F646A;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    background: -webkit-linear-gradient(left, #17181A 0%, #17181A 15%, #5F646A 15.5%, #5F646A 100%);

    box-shadow: 0 0 5px black inset,
        0 0 2px 3px rgba(60, 60, 60, 0.7) inset,
        5px 5px 2px 1px rgba(255, 255, 255, 0.6) inset
        ;
}

#tracks .stripe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90px;
    opacity: 1;
    background-color: #17181A;
}

#tracks input[type=range] {
    display: block;
    width: 100%;
    height: 30px;
}

#tracks div {
    display: block;
    position: relative;
    margin-left: 90px;
    margin-right: 50px;
    margin-top: 15px;
    padding-bottom: 15px;
}

#tracks div:after {
    content: "";
    position: absolute;
    top: 45px;
    left: -80px;
    right: -20px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.9);
    transform: scaleY(1.2); /* the thin white line */
}
#tracks div:last-of-type:after {
    display: none;
}

#tracks h5 {
    position: absolute;
    left: -100px;
    top: 0;
    margin: 0;
    line-height: 32px;
    text-align: right;
    width: 60px;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 12px;
    /*
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 3px rgba(95, 100, 106, 0.2), 0 0 0 rgba(255, 255, 255, 0.8), 1px 1px 3px rgba(95, 100, 106, 0.2)
    */
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    background-color: white;
    text-shadow: 0.5px 0.5px 0.2px rgba(255, 255, 255, 0.2);
}

#tracks button {
    position: absolute;
    right: -50px;
    top: 0;
    width: 40px;
    height: 30px;
    padding: 5px;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 0.7px 0;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset, 0px 0px 1px #0d0d0d, 0.5px 0.5px 0 rgba(255,255,255,0.6) inset;
  background: #0A0B0D;
  border-radius: 4px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 2px #670000, 0px 0px 0px #810000, 2px 2px 0px rgba(255,255,255,0.2) inset, 0 0 1px 0.3px rgba(0, 0, 0, 0.5), 5px 0 0 rgba(0, 0, 0, 0.6) inset, -5px 0 0 rgba(0, 0, 0, 0.4) inset, 3px 2px 7px 2px rgba(0, 0, 0, 0.2);
  border: 0px solid #ff1e00;
  height: 27px;
  width: 58px;
  border-radius: 0px;
  background: #C82D1B;
  background: -webkit-linear-gradient(left, rgba(248,80,50,1) 0%, rgba(240,47,23,1) 48%, rgba(62,29,27,1) 51%, rgba(240,47,23,1) 55%, rgba(231,56,39,1) 100%);
  cursor: pointer;
  -webkit-appearance: none;
  border-top-right-radius: 5px 20px;
  border-bottom-right-radius: 5px 20px;
  border-top-left-radius: 5px 20px;
  border-bottom-left-radius: 5px 20px;
  margin-top: -10px;
}
/*
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #5d5d5d;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #505050;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(227, 90, 61, 0.93);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 25.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #434343;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #505050;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
  border: 0px solid #ff1e00;
  height: 27px;
  width: 18px;
  border-radius: 0px;
  background: rgba(227, 90, 61, 0.93);
  cursor: pointer;
  height: 25.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #505050;
}
input[type=range]:focus::-ms-fill-upper {
  background: #5d5d5d;
}
*/
