@import "reset"
@import "bourbon/bourbon"

////////////////////////////////////////////
//            Colours and Fonts           //
////////////////////////////////////////////

$button-grey: #67666B
$mute-button-orange: #FCC1A4
$mute-button-yellow: #FFEC6C

// TODO add mute/solo buttons
// TODO try white knobs
// TODO selector for track 1 or 2
// TODO rack rails, better mixer body details and textures
// fix shadow directions

@mixin border-curve($top, $side)
  border-top-left-radius: $top $side
  border-top-right-radius: $top $side
  border-bottom-left-radius: $top $side
  border-bottom-right-radius: $top $side

@mixin button-led($color)
  background: radial-gradient(circle, tint($color, 30%) 20%, $color 70%)

@mixin button-mute()
  background: radial-gradient(circle, $mute-button-orange 20%, $mute-button-yellow 70%)

////////////////////////////////////////////
//                  Layout                //
////////////////////////////////////////////

html
  color: white
  line-height: 1.4

body
  background: url('../assets/bg.jpg') center center #150704

#main
  text-align: center

.mixer
  margin: 150px auto 50px
  padding: 25px 10px

  background-color: #5F646A
  border-radius: 10px
  position: relative
  overflow: hidden

  background: linear-gradient(#17181A 0%, #17181A 33%, #5F646A 33.3%, #5F646A 100%)
  box-shadow: 0 0 5px black inset, 0 0 2px 3px rgba(60, 60, 60, 0.7) inset, 5px 5px 2px 1px rgba(255, 255, 255, 0.6) inset

  display: inline-flex
  flex-direction: row

  $slider-width: 40px

  h5
    position: absolute
    top: -70px
    left: -14px
    margin: 0
    transform: rotate(90deg)
    text-align: right
    width: 60px
    font-weight: normal
    font-family: sans-serif
    font-size: 12px

    color: rgba(255, 255, 255, 0.8)

  button
    position: relative
    width: 38px
    height: 20px
    padding: 5px
    margin-bottom: 10px
    margin-left: -5px

    color: white
    text-indent: 39px
    font-size: 7px
    text-transform: uppercase

    +border-curve(20px, 3px)
    border: 1px solid black
    outline: none

    +button-led($button-grey)
    box-shadow: 0 0 2px 0.6px black, 0 0 5px 1px transparentize(white, 0.6), 0 0 5px black inset, 1.5px 1px 1px transparentize(white, 0.3) inset, -0.5px 0 1px transparentize(white, 0.4) inset

    &:hover
      +button-led(shade($button-grey, 30%))
      box-shadow: 0 0 2px 0.6px black, 0 0 5px 1px transparentize(white, 0.9), 0 0 10px black inset, 1.5px 1px 1px transparentize(black, 0.3) inset, -0.5px 0 1px transparentize(black, 0.4) inset

    &.active
      +button-mute()
      box-shadow: 0 0 2px 0.6px black, 0 0 5px 1px transparentize($mute-button-yellow, 0.6), 0 0 5px black inset, 1.5px 1px 1px transparentize(white, 0.3) inset, -0.5px 0 1px transparentize(white, 0.4) inset

      &:hover
        +button-led(shade($mute-button-orange, 20%))

    // &:active, &:focus

  .slider
    display: block
    width: $slider-width
    position: relative
    margin-top: 80px
    margin-bottom: 15px
    margin-left: 30px
    padding-right: 30px

    &:after
      // the thin white line
      content: ""
      position: absolute
      right: 0
      top: -80px
      bottom: -20px
      width: 1px
      background-color: rgba(255, 255, 255, 0.7)
      transform: scaleX(1.5)

    &:last-of-type:after
      // hide last separating line
      display: none

  .range
    transform: rotate(270deg) translateX(-345px)
    transform-origin: 0 0
    height: 345px

    input[type=range]
      display: block
      width: 300px
      height: $slider-width

input[type=range]

  -webkit-appearance: none
  -moz-appearance: none
  width: 100%
  margin: 0.7px 0
  background-color: transparent

  &:focus
    outline: none

  &::-webkit-slider-runnable-track
    width: 100%
    height: 7px
    cursor: pointer
    box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset, 0px 0px 1px #0d0d0d, 0.5px 0.5px 0 rgba(255,255,255,0.6) inset
    background: #0A0B0D
    border-radius: 4px
    border: 0px solid #010101

  &::-webkit-slider-thumb
    box-shadow: 0px 0px 2px #670000, 0px 0px 0px #810000, 2px 2px 0px rgba(255,255,255,0.2) inset, 0 0 1px 0.3px rgba(0, 0, 0, 0.5), 5px 0 0 rgba(0, 0, 0, 0.6) inset, -5px 0 0 rgba(0, 0, 0, 0.4) inset, 3px 2px 7px 2px rgba(0, 0, 0, 0.2)
    border: 0px solid #ff1e00
    height: 27px
    width: 58px
    border-radius: 0px
    background: #C82D1B
    background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(240,47,23,1) 48%, rgba(62,29,27,1) 51%, rgba(240,47,23,1) 55%, rgba(231,56,39,1) 100%)
    cursor: pointer
    -webkit-appearance: none
    +border-curve(5px, 20px)
    margin-top: -10px
